<section class="hero-wrap degree-right js-fullheight">
    <div class="home-slider js-fullheight owl-carousel">
        <div class="slider-item js-fullheight" style="background-image:url(images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text">
                            <h1 class="mb-4">The Address</h1>
                            <p>Turning brand loyalist to brand evangelist.</p>
                            <p class="mb-0"><a href="#" class="btn btn-primary py-md-3 py-2 px-2 px-md-4">Start Project</a></p>
                        </div>
                    </div>
                    <a href="https://vimeo.com/45830194" class="img-video popup-vimeo d-flex align-items-center justify-content-center">
                        <span class="fa fa-play"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight" style="background-image:url(images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text">
                            <h1 class="mb-4">Meet us</h1>
                            <p>We are a 360-degrees brand marketing communications company, with years of experience in turning brilliant thoughts into value-laden solutions.</p>
                            <p class="mb-0"><a href="#" class="btn btn-primary py-md-3 py-2 px-2 px-md-4">Explore Projects</a></p>
                        </div>
                    </div>
                    <a href="https://vimeo.com/45830194" class="img-video popup-vimeo d-flex align-items-center justify-content-center">
                        <span class="fa fa-play"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>