<nav class="navbar navbar-dark" style="background-color: #2d3436;">
	<span class="navbar-text text-white">
		Phone no: <a href="#">+233(0) 54 012 6621</a>
	</span>
	<span class="navbar-text text-white">
		Email us: <a href="#">info@theaddressgh.com</a>
	</span>
</nav>
