<!-- include the header -->
<%- include(`partials/header.partials.ejs`) %>
<!-- primary nav bar -->
<%- include(`partials/primary_nav.partials.ejs`) %>

	<section class="hero-wrap hero-wrap-2 degree-right" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-end">
				<div class="col-md-9 ftco-animate pb-5 mb-5">
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-3 bread">About Us</h1>
					We are a 360-degrees brand marketing communications company. We are in the business of providing bespoke solutions for all companies. We are masters in turning brilliant thoughts into value-laden solutions.
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center no-gutters">
				<div class="col-md-12 heading-section text-center ftco-animate mb-5">
					<h2 class="mb-2">Expert Team</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Jabare <br> Mahama</h3>
								<span class="position mb-4">Chief Executive Officer</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Georgina <br> Osei </h3>
								<span class="position mb-4">Chief Product Officer</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Taohead <br> Aiwinnilomo</h3>
								<span class="position mb-4">Media Head</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Eric <br> Mensah</h3>
								<span class="position mb-4">Finance Head</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Benedict N.<br>Hayford</h3>
								<span class="position mb-4">Creative Head</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Kwabena Eddie <br> Mankata</h3>
								<span class="position mb-4">Production Head</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Leonard R.<br> Ashiagbor</h3>
								<span class="position mb-4">Technology Head</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Gideon <br> Mensah</h3>
								<span class="position mb-4">Animator</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Oluwayemisi <br> Erinle</h3>
								<span class="position mb-4">Digital Content Strategist</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Gertrude <br> Amoah</h3>
								<span class="position mb-4">Client Service Manager</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch justify-content-end">
							<div class="img align-self-stretch" style="background-image: url(images/profile.jpeg);">
								<ul class="ftco-social">
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
									<li class="ftco-animate d-flex"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="text d-flex align-items-center pt-3">
							<div class="desc">
								<h3 class="mb-2">Sedem Q.<br> Amekpewu</h3>
								<span class="position mb-4">Web Designer</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="degree-left"></div>
	</section>

	<section class="ftco-section testimony-section">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-3">Brands that have experienced <br> our touch of excellence.</h2>
				</div>
			</div>
			<div class="row ftco-animate mb-4">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<span class="fa fa-quote-left"></span>
									<!-- <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
									<div class="d-flex align-items-center" style="height: 100px;">
										<div class="user-img" style="background-image: url(images/mtn_logo.jpeg)"></div>
										<div class="pl-3">
											<p class="name">MTN</p>
											<span class="position">Consumer Lens Project <br></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<span class="fa fa-quote-left"></span>
									<!-- <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
									<div class="d-flex align-items-center" style="height: 100px;">
										<div class="user-img" style="background-image: url(images/nestle_logo.jpeg)"></div>
										<div class="pl-3">
											<p class="name">Nestle</p>
											<span class="position">Product Launch <br></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<span class="fa fa-quote-left"></span>
									<!-- <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
									<div class="d-flex align-items-center" style="height: 100px;">
										<div class="user-img" style="background-image: url(images/kashe_pay.jpg)"></div>
										<div class="pl-3">
											<p class="name">Kashe Express</p>
											<span class="position">Brand Design & Social Media Management</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include(`partials/footer.partials.ejs`) %>