<!-- include the header -->
<%- include(`partials/header.partials.ejs`) %>
<!-- primary nav bar -->
<%- include(`partials/primary_nav.partials.ejs`) %>
<section class="hero-wrap hero-wrap-2 degree-right" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
   <div class="overlay"></div>
   <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end">
         <div class="col-md-9 ftco-animate pb-5 mb-5">
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Contact <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">Contact</h1>
         </div>
      </div>
   </div>
</section>
<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
   <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
         <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Contact us</span>
            <h2 class="mb-4">Have a Project?</h2>
            <p>Send us a mail, or reach us on any of the provided channels of communication.</p>
         </div>
      </div>
      <div class="row block-9">
         <div class="col-md-8">
            <form action="#" class="p-4 p-md-5 contact-form">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email">
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="col-md-4 d-flex pl-md-5">
            <div class="row">
               <div class="dbox w-100 d-flex ftco-animate">
                  <div class="icon d-flex align-items-center justify-content-center">
                     <span class="fa fa-map-marker"></span>
                  </div>
                  <div class="text">
                     <p>
                        <span>Address:</span>
                        P. O. Box CT 1039 Cantonment Accra, Ghana
                     </p>
                  </div>
               </div>
               <div class="dbox w-100 d-flex ftco-animate">
                  <div class="icon d-flex align-items-center justify-content-center">
                     <span class="fa fa-phone"></span>
                  </div>
                  <div class="text">
                     <p>
                        <span>Phone</span>
                        <a href="tel://+233540126621">+233(0)540126621</a>
                     </p>
                  </div>
               </div>
               <div class="dbox w-100 d-flex ftco-animate">
                  <div class="icon d-flex align-items-center justify-content-center">
                     <span class="fa fa-paper-plane"></span>
                  </div>
                  <div class="text">
                     <p>
                        <span>Email:</span>
                        <a href="mailto:info@theaddressgh.com">info@theaddressgh.com</a>
                     </p>
                  </div>
               </div>
               <div class="dbox w-100 d-flex ftco-animate">
                  <div class="icon d-flex align-items-center justify-content-center">
                     <span class="fa fa-globe"></span>
                  </div>
                  <div class="text">
                     <p>
                        <span>Website</span>
                        <a href="#">theaddress.com</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <br>
        <iframe class="col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.594835975761!2d-0.17125728583768624!3d5.626672695921069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9b6a91c28b53%3A0x8c6d2fd4a23ccb3a!2sTrevi%20Towers%2C%20Accra%20-%20Tema%20Motorway%2C%20Accra!5e0!3m2!1sen!2sgh!4v1601139455825!5m2!1sen!2sgh" height="450" width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
   </div>
</section>
<%- include(`partials/footer.partials.ejs`) %>