<!-- include the header -->
<%- include(`partials/header.partials.ejs`) %>
<!-- primary nav bar -->
<%- include(`partials/primary_nav.partials.ejs`) %>
<!-- banner -->
<%- include(`partials/banner.partials.ejs`) %>
<section class="ftco-section">
   <div class="container">
      <div class="row justify-content-center no-gutters">
         <div class="col-md-12 heading-section text-center ftco-animate mb-5">
            <h2 class="mb-2">About us</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-md d-flex align-items-stretch ftco-animate">
            <div class="media block-6 w-100 services d-block text-center">
               <div class="icon d-flex justify-content-center align-items-center">
                  <img class="about_icon" src="/svg/media_relations.svg"/>
               </div>
               <div class="media-body py-md-4">
                  <h3>Media Relations</h3>
               </div>
            </div>
         </div>
         <div class="col-md d-flex align-items-stretch ftco-animate">
            <div class="media block-6 w-100 services d-block text-center">
               <div class="icon d-flex justify-content-center align-items-center">
                  <img class="about_icon" src="/svg/brand_development.svg"/>
               </div>
               <div class="media-body py-md-4">
                  <h3>Brand Development</h3>
               </div>
            </div>
         </div>
         <div class="col-md d-flex align-items-stretch ftco-animate">
            <div class="media block-6 w-100 services d-block text-center">
               <div class="icon d-flex justify-content-center align-items-center">
                  <img class="about_icon" src="/svg/corporate_sustainability.svg"/>
               </div>
               <div class="media-body py-md-4">
                  <h3>Corporate Sustainability</h3>
               </div>
            </div>
         </div>
         <div class="col-md d-flex align-items-stretch ftco-animate">
            <div class="media block-6 w-100 services d-block text-center">
               <div class="icon d-flex justify-content-center align-items-center">
                  <img class="about_icon" src="/svg/media-planning_and_buying.svg"/>
               </div>
               <div class="media-body py-md-4">
                  <h3>Media Planning and Buying</h3>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md d-flex align-items-stretch ftco-animate">
            <div class="media block-6 w-100 services d-block text-center">
               <div class="icon d-flex justify-content-center align-items-center">
                  <img class="about_icon" src="/svg/social_and_digital_marketing.svg"/>
               </div>
               <div class="media-body py-md-4">
                  <h3>Social and Digital Marketing</h3>
               </div>
            </div>
         </div>
         <div class="col-md d-flex align-items-stretch ftco-animate">
            <div class="media block-6 w-100 services d-block text-center">
               <div class="icon d-flex justify-content-center align-items-center">
                  <img class="about_icon" src="/svg/event_management.svg"/>
               </div>
               <div class="media-body py-md-4">
                  <h3>Event Management</h3>
               </div>
            </div>
         </div>
         <div class="col-md d-flex align-items-stretch ftco-animate">
            <div class="media block-6 w-100 services d-block text-center">
               <div class="icon d-flex justify-content-center align-items-center">
                  <img class="about_icon" src="/svg/corporate_training.svg"/>
               </div>
               <div class="media-body py-md-4">
                  <h3>Corporate Training</h3>
               </div>
            </div>
         </div>
         <div class="col-md d-flex align-items-stretch ftco-animate">
            <div class="media block-6 w-100 services d-block text-center">
               <div class="icon d-flex justify-content-center align-items-center">
                  <img class="about_icon" src="/svg/seo.svg"/>
               </div>
               <div class="media-body py-md-4">
                  <h3>Advertisement</h3>
               </div>
            </div>
         </div>
      </div>
      <div class="row wrap-about my-5">
         <div class="col-md-8">
            <div class="row">
               <div class="col-md-6 order-md-last ftco-animate d-flex">
                  <div class="img w-100" style="background-image: url(images/about.jpg);"></div>
               </div>
               <div class="col-md-6 ftco-animate">
                  <div class="text text-md-right">
                     <h3>Hand on our chest ... </h3>
                     <p>We promise to deliver excellence and value to all our clients in a way that would impact positively on their brand image and create footfalls for them.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4 ftco-animate">
            <div class="text">
               <h3>Are we any different?</h3>
               <p>
                  Our hallmark is shown in our speed, excellent spirit and our attention to detail.
                  <br>
                  We are not a self-willed bunch of people; we hear you and are
                  ready to bend for you, the best way that we can.
               </p>
               <!-- <p><a href="#" class="btn btn-primary">View all projects</a></p> -->
            </div>
         </div>
      </div>
   </div>
</section>
<section class="ftco-section ftco-portfolio bg-light">
   <div class="row justify-content-center no-gutters">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
         <h2 class="mb-2">Our Works</h2>
      </div>
   </div>
   <div class="container">
      <div class="row no-gutters">
         <div class="col-md-12 portfolio-wrap mt-0">
            <div class="row no-gutters align-items-center">
               <div class="col-md-5 img" style="background-image: url(images/mtn_logo.jpeg); background-size: contain;">
               </div>
               <div class="col-md-7">
                  <div class="text pt-5 pl-0 pl-lg-5 pl-md-4 ftco-animate">
                     <div class="px-4 px-lg-4">
                        <div class="desc">
                           <div class="top">
                              <span class="subheading">Consumer Lens Project</span>
                              <h2 class="mb-2"><a href="work.html">MTN</a></h2>
                           </div>
                           <div class="absolute">
                              <p>
                                 Consumer lens radio, a subordinate of The Address company is an integrated Media platform that seeks to promote businesses and agencies by raising brand awareness and building engagement with the Ghanaian populace. With our presense in 34 radio stations across country coverage. SMEs and organizations have taken advantage of our platforms to get word out about their activities and eventually received the desired results. With this project, the company ran a program where resources persons of MTN addresses customers' challenges and concerns about their products and gather information to help improve the services of their brand. This has been running for the past 10 years for MTN.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 portfolio-wrap">
            <div class="row no-gutters align-items-center">
               <div class="col-md-5 order-md-last img" style="background-image: url(images/total_logo.webp); background-size: contain;">
               </div>
               <div class="col-md-7">
                  <div class="text pt-5 pr-md-5 ftco-animate">
                     <div class="px-4 px-lg-4">
                        <div class="desc text-md-right">
                           <div class="top">
                              <span class="subheading">Drive Alive Campaign</span>
                              <h2 class="mb-2"><a href="work.html">Total Ghana</a></h2>
                           </div>
                           <div class="absolute">
                              <p>As a company, we organized a general road safety campaign themed "Drive Alive" to educate station drivers, fire service personnel, road safety commission and MTTU (Motor Transport and Traffic Directorate) on road safety measures. Outcome: The people were well informed and educated on the relevance of road safety.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 portfolio-wrap">
            <div class="row no-gutters align-items-center">
               <div class="col-md-5 img" style="background-image: url(images/national_road_safety.jpeg); background-size: contain;">
               </div>
               <div class="col-md-7">
                  <div class="text pt-5 pl-md-5 pl-md-4 ftco-animate">
                     <div class="px-4 px-lg-4">
                        <div class="desc">
                           <div class="top">
                              <span class="subheading">Road Safety Campaign</span>
                              <h2 class="mb-2"><a href="work.html">National Road Safety Commission</a></h2>
                           </div>
                           <div class="absolute">
                              <p>The Address company partnered with the National Road Safety Commission on activations of Road Safety Campaigns. The purpose of this was to drive consumer action through brand experiences and interactions. This was successfully achieved.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 portfolio-wrap">
            <div class="row no-gutters align-items-center">
               <div class="col-md-5 order-md-last img" style="background-image: url(images/kashe_pay.jpg); background-size: contain;">
               </div>
               <div class="col-md-7">
                  <div class="text pt-5 pr-md-5 ftco-animate">
                     <div class="px-4 px-lg-4">
                        <div class="desc text-md-right">
                           <div class="top">
                              <span class="subheading">Brand Design</span>
                              <h2 class="mb-2"><a href="work.html">Kashe Xpress</a></h2>
                           </div>
                           <div class="absolute">
                              <p>The Address Company handles the graphic designs, branding needs and social media platforms of their company. Likewise, that of Kashe Pay</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 portfolio-wrap">
            <div class="row no-gutters align-items-center">
               <div class="col-md-5 img" style="background-image: url(images/silver_start_logo.png); background-size: contain;">
               </div>
               <div class="col-md-7">
                  <div class="text pt-5 pl-md-5 pl-md-4 ftco-animate">
                     <div class="px-4 px-lg-4">
                        <div class="desc">
                           <div class="top">
                              <span class="subheading">Corporate Events</span>
                              <h2 class="mb-2"><a href="work.html">Silver Star</a></h2>
                           </div>
                           <div class="absolute">
                              <p>The Address company organized various different corporate events for Silver Star Tower. Also we handled the relaunch of their new logo. These projects were a success as the expectations of Silver Star were met.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 portfolio-wrap">
            <div class="row no-gutters align-items-center">
               <div class="col-md-5 order-md-last img" style="background-image: url(images/tg_holding_logo.png);  background-size: contain;">
               </div>
               <div class="col-md-7">
                  <div class="text pt-5 pr-md-5 ftco-animate">
                     <div class="px-4 px-lg-4">
                        <div class="desc text-md-right">
                           <div class="top">
                              <span class="subheading">Web Development</span>
                              <h2 class="mb-2"><a href="work.html">TG Holdings Group of Companies</a></h2>
                           </div>
                           <div class="absolute">
                              <p>We developed three website for the TG Holding Group of Companies. These websites were that of the Concrete Products Limited (CPL). Yaw Addo Developments Limited and TG Prints. Also we drafted a digital marketing plan and video script for Best Western Plus Hotel to help improve their online presence.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 portfolio-wrap">
            <div class="row no-gutters align-items-center">
               <div class="col-md-5 img" style="background-image: url(images/nestle_logo.jpeg);  background-size: contain;">
               </div>
               <div class="col-md-7">
                  <div class="text pt-5 pl-md-5 pl-md-4 ftco-animate">
                     <div class="px-4 px-lg-4">
                        <div class="desc">
                           <div class="top">
                              <span class="subheading">Product Launch</span>
                              <h2 class="mb-2"><a href="work.html">Nestle</a></h2>
                           </div>
                           <div class="absolute">
                              <p>The Address company handled various project for Nestle Ghana ranging from activations, product launch to their corporate events.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="degree-left"></div>
</section>
<%- include(`partials/footer.partials.ejs`) %>