<!-- include the header -->
<%- include(`partials/header.partials.ejs`) %>
<!-- primary nav bar -->
<%- include(`partials/primary_nav.partials.ejs`) %>
<section class="hero-wrap hero-wrap-2 degree-right" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
   <div class="overlay"></div>
   <div class="container">
     <div class="row no-gutters slider-text js-fullheight align-items-end">
       <div class="col-md-9 ftco-animate pb-5 mb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Contact <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-3 bread">Services</h1>
      </div>
    </div>
  </div>
 </section>



<section class="ftco-section services-section">
   <div class="container">
      <div class="row justify-content-center pb-5">
         <div class="col-md-6 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Services</h2>
         </div>
      </div>
      <div class="row d-flex">
         <div class="col-12 offset-md-1 col-md-10 d-flex align-self-stretch ftco-animate">
            <div class="row">
               <div class="col-12 col-md-2">
                  <div class="media block-6 w-100 services d-block text-center">
                     <div class="icon d-flex justify-content-center align-items-center">
                        <img class="about_icon" src="/svg/brand_development.svg"/>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-10">
                  <div class="media block-6 d-block">
                     <div class="line"></div>
                     <div class="media-body">
                        <h3 class="heading mb-3">Brand Development and Management</h3>
                        <p>Like a new-born baby, companies are born and bred. Let us do the thinking and action with
                           you on how to get your brand identity and image perfect, right from the scratch or at any
                           stage of growth. Companies are like human beings, their thoughts, actions and inactions are
                           judged by what people hear, see or feel about them. Therefore, your company needs to get
                           its footing right without missing. Let’s help you do brand development and enforcement,
                           brand audit and assessment, brand activation and reactivation.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 offset-md-1 col-md-10 d-flex align-self-stretch ftco-animate">
            <div class="row">
               <div class="col-12 col-md-2">
                  <div class="media block-6 w-100 services d-block text-center">
                     <div class="icon d-flex justify-content-center align-items-center">
                        <img class="about_icon" src="/svg/media_relations.svg"/>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-10">
                  <div class="media block-6 d-block">
                     <div class="line"></div>
                     <div class="media-body">
                        <h3 class="heading mb-3">Media Relations</h3>
                        <p>There are more active ways of relating with the media than just avoiding bad press.
                           Companies that discover the love language of the media, enjoy a good ‘marriage’
                           with them. Let’s show you how.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 offset-md-1 col-md-10 d-flex align-self-stretch ftco-animate">
            <div class="row">
               <div class="col-12 col-md-2">
                  <div class="media block-6 w-100 services d-block text-center">
                     <div class="icon d-flex justify-content-center align-items-center">
                        <img class="about_icon" src="/svg/brand_development.svg"/>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-10">
                  <div class="media block-6 d-block">
                     <div class="line"></div>
                     <div class="media-body">
                        <h3 class="heading mb-3">Corporate Sustainability Initiatives</h3>
                        <p>Every responsible company thinks and does something to show active care for humans and
                           the environment. The problem is, many companies either don’t show any care at all, or don’t
                           know what kind of care to show in order to positively affect their operations and bottom-line.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 offset-md-1 col-md-10 d-flex align-self-stretch ftco-animate">
            <div class="row">
               <div class="col-12 col-md-2">
                  <div class="media block-6 w-100 services d-block text-center">
                     <div class="icon d-flex justify-content-center align-items-center">
                        <img class="about_icon" src="/svg/media-planning_and_buying.svg"/>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-10">
                  <div class="media block-6 d-block">
                     <div class="line"></div>
                     <div class="media-body">
                        <h3 class="heading mb-3">Media Planning and Buying</h3>
                        <p>This is a key part of executing brand visibility. This is where the difference can be made.
                           Developing a pack of carefully selected media options that offer the right audience to
                           businesses is not an easy job, but we do it easily. We help our clients define their audience,
                           select the media, negotiate on their behalf, create an ad schedule and adhere to budget, as
                           agreed on with the clients.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 offset-md-1 col-md-10 d-flex align-self-stretch ftco-animate">
            <div class="row">
               <div class="col-12 col-md-2">
                  <div class="media block-6 w-100 services d-block text-center">
                     <div class="icon d-flex justify-content-center align-items-center">
                        <img class="about_icon" src="/svg/brand_development.svg"/>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-10">
                  <div class="media block-6 d-block">
                     <div class="line"></div>
                     <div class="media-body">
                        <h3 class="heading mb-3">Creative and Production Services</h3>
                        <p>At The Address, when we say creativity, we mean creativity with relevance. Our production
                           department has modern technologies and expertise to handle all forms of artworks and
                           videos in the traditional media, new media and anything in-between. We do</p>
                        <ul>
                           <li>Animation</li>
                           <li>Graphic designing</li>
                           <li>Responsive websites</li>
                           <li>Video(s)-for-marketing services</li>
                           <li>TV, press, radio and online copywriting and production</li>
                           <li>Production of marketing collaterals – banners, fliers, brochures, cards etc</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 offset-md-1 col-md-10 d-flex align-self-stretch ftco-animate">
            <div class="row">
               <div class="col-12 col-md-2">
                  <div class="media block-6 w-100 services d-block text-center">
                     <div class="icon d-flex justify-content-center align-items-center">
                        <img class="about_icon" src="/svg/seo.svg"/>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-10">
                  <div class="media block-6 d-block">
                     <div class="line"></div>
                     <div class="media-body">
                        <h3 class="heading mb-3">Out-of-Home Advertisement</h3>
                        <p>Count on us for your signages – direction signs, frontage signs, community signs,
                           billboards etc. We will handle from ideation to creation to production. Anything left in
                           between? We will do.</p>
                     </div>
                  </div>
               </div>
            </div>                  
         </div>

         <div class="col-12 offset-md-1 col-md-10 d-flex align-self-stretch ftco-animate">
            <div class="row">
               <div class="col-12 col-md-2">
                  <div class="media block-6 w-100 services d-block text-center">
                     <div class="icon d-flex justify-content-center align-items-center">
                        <img class="about_icon" src="/svg/social_and_digital_marketing.svg"/>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-10">            
                  <div class="media block-6 d-block">
                     <div class="line"></div>
                     <div class="media-body">
                        <h3 class="heading mb-3">Social Media and Digital Marketing</h3>
                        <p>Research shows that marketing in our times has gone digital. As a company, you
                           need to be where the people have moved – digital. Let’s show you how you can
                           leverage social and digital media for business success</p>
                        <ul>
                           <li>Social media management – Facebook, Twitter, LinkedIn etc.</li>
                           <li>Pay-Per-Click (PPC)</li>
                           <li>Search Engine Optimisation (SEO)</li>
                           <li>Search Engine Marketing (SEM)</li>
                           <li>Digital Display Advertising (DDA)</li>
                           <li>Mobile advertising</li>
                           <li>Email advertising</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 offset-md-1 col-md-10 d-flex align-self-stretch ftco-animate">
            <div class="row">
               <div class="col-12 col-md-2">
                  <div class="media block-6 w-100 services d-block text-center">
                     <div class="icon d-flex justify-content-center align-items-center">
                        <img class="about_icon" src="/svg/event_management.svg"/>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-10">            
                  <div class="media block-6 d-block">
                     <div class="line"></div>
                     <div class="media-body">
                        <h3 class="heading mb-3">Event Management and Compering</h3>
                        <p>Your events can be your marks of excellence; and it can indelible! We blend the science
                           and art of event management to deliver excellence. The Address specialises in all kinds
                           of corporate events – staff durbar, end-of-year party, media soiree, exhibitions, product
                           launch etc. Whether outdoor or indoor, The Address can handle.</p>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- include the footer -->
<%- include(`partials/footer.partials.ejs`) %>